@import url("https://fonts.googleapis.com/css2?family=Oranienbaum:wght@400;800&display=swap");

body {
  background-image: url("/home/mop/Desktop/NoteApp/client/src/img/abstractImg.jpg");
  background-size: 170%;
  background-repeat: repeat;
  font-family: "Oranienbaum";
}

.carousel {
  margin: auto;
  align-items: center;
  justify-content: center;
  top: 100px;
  display: flex;
  position: relative;
  flex-direction: column;
}
